@import "../settings"
@import "../mixin"
.partners
  padding-bottom: 120px


.partners-list
  display: flex
  align-items: center
  width: 100%
  flex-wrap: wrap
  padding: 0 100px
  justify-content: space-around

  &__item
    padding: 0 15px
    width: calc(100% / 5)
    margin-bottom: 80px
    display: flex
    justify-content: center

  &__content
    img
      width: auto
